@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-orange: #F0A04B;
    --color-beige: #FEFBE9;
    --color-pistachio: #E1EEDD;
    --color-red: #e54747;
    --color-green: #90C661;
    --color-green-dark: #183A1D;
    --color-yellow-light: #fde047;
    --color-yellow: #F6C453;
}

@layer components {
	.na-p-page {
		@apply p-4 md:p-6;
	}

	.na-title {
		@apply text-2xl font-bold text-orange sm:text-4xl;
	}

	.na-modal-title {
		@apply text-xl font-bold text-orange md:text-3xl;
	}

	.na-code {
		@apply rounded-xl bg-zinc-800 px-4 pb-4;
	}

	.na-comment {
		@apply my-4 text-green;
	}

	.na-variable {
		@apply block text-cyan-500;
	}

	.na-sample {
		@apply text-yellow;
	}
}
