@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-orange: #f0a04b;
	--color-beige: #fefbe9;
	--color-pistachio: #e1eedd;
	--color-red: #e54747;
	--color-green: #90c661;
	--color-green-dark: #183a1d;
	--color-yellow-light: #fde047;
	--color-yellow: #f6c453;
}

@layer components {
	.na-p-page {
		@apply p-4 md:p-6;
	}

	.na-title {
		@apply text-2xl font-bold text-orange sm:text-4xl;
	}

	.na-modal-title {
		@apply text-xl font-bold text-orange md:text-3xl;
	}

	.na-code {
		@apply rounded-xl bg-zinc-800 px-4 pb-4;
	}

	.na-comment {
		@apply my-4 text-green;
	}

	.na-variable {
		@apply block text-cyan-500;
	}

	.na-sample {
		@apply text-yellow;
	}

	.na-background {
		@apply bg-beige dark:bg-zinc-700;
	}

	.na-generate-result {
		@apply text-center wrap-break-word text-xl font-bold text-green-dark selection:bg-green-dark selection:text-pistachio dark:text-pistachio dark:selection:bg-orange dark:selection:text-green-dark sm:text-3xl;
	}
}

@layer base {
	body {
		@apply bg-beige dark:bg-zinc-700 selection:bg-yellow;
	}
}
